*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header{
    background-color: #606964;
    height: 60px;
}

a{
    color: black;
}

nav .nav-list .navi{ 
    display: inline-block;
    padding: 20px;

}

/*barre navigation milieu*/

.nav-list .navi a {
    color: rgb(255, 255, 255);
    background-color: #606964;
}
/**/

.nav-list{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    font-size: 12px;
}

.fansite{
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 4px 4px black;
    top: 7%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 230%);
}


footer{
    position: absolute; bottom: 0; left: 0; right: 0;
    display: inline-block;
}

.footer { 
display: flex;
justify-content: space-evenly;
padding: 20px;
font-size: 12px;
} 

.social{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.copyright{
    border-top: 1px solid black;
    text-align: center;
    font-size: 12px;

}